.App {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: linear-gradient(-225deg, #08085f 0%, #0404d6 100%);
	justify-content: center;
}
.container {
	width: 60%;
	margin: auto;
	/* min-height: 100vh; */
}

.generator {
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 2rem;
	/* width: 80%; */
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(14px);
	-webkit-backdrop-filter: blur(14px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.generator__header {
	text-align: center;
	color: gray;
	margin-bottom: 20px;
}
.password {
	color: rgb(181, 130, 228);
}
.generator__password {
	padding: 13px 10px;
	color: #fff;
	margin-bottom: 15px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
}
.form-group > label > h3 {
	color: white;
}
.pw__value {
	color: white;
	font-size: 2rem;
}
.copy__btn {
	color: #fff;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	border: none;
	cursor: pointer;
	font-size: 1rem;
}
.btn_conatiner {
	display: flex;
	justify-content: center;
}
.generator__btn {
	background: #308d46;

	color-scheme: light dark;
	border: none;
	width: 50%;
	margin: auto;
	/* margin-top: 10px; */
	padding: 10px;
	color: #fff;
	border-radius: 0.5rem;
	font-size: 17px;
	cursor: pointer;
}
.form-group {
	display: flex;
	justify-content: space-between;
	color: gre;
	margin-bottom: 15px;
}

/* toggle btn */

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* generate passwo0rd btn */
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	position: relative;
	padding: 0 20px;
	font-size: 18px;
	text-transform: uppercase;
	border: 0;
	box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
	background-color: hsl(210deg 100% 44%);
	border-radius: 12px;
	overflow: hidden;
	transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn:before {
	content: attr(alt);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0;
	font-size: 15px;
	font-weight: bold;
	color: white;
	letter-spacing: 4px;
	opacity: 1;
}

.btn:active {
	box-shadow: none;
	transform: translateY(7px);
	transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn:hover:before {
	transition: all 0s;
	transform: translateY(100%);
	opacity: 0;
}

.btn i {
	color: white;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 4px;
	font-style: normal;
	transition: all 2s ease;
	transform: translateY(-20px);
	opacity: 0;
}

.btn:hover i {
	transition: all 0.2s ease;
	transform: translateY(0px);
	opacity: 1;
}

.btn:hover i:nth-child(1) {
	transition-delay: 0.045s;
}

.btn:hover i:nth-child(2) {
	transition-delay: calc(0.045s * 3);
}

.btn:hover i:nth-child(3) {
	transition-delay: calc(0.045s * 4);
}

.btn:hover i:nth-child(4) {
	transition-delay: calc(0.045s * 5);
}

.btn:hover i:nth-child(6) {
	transition-delay: calc(0.045s * 6);
}

.btn:hover i:nth-child(7) {
	transition-delay: calc(0.045s * 7);
}

.btn:hover i:nth-child(8) {
	transition-delay: calc(0.045s * 8);
}

.btn:hover i:nth-child(9) {
	transition-delay: calc(0.045s * 9);
}

.btn:hover i:nth-child(10) {
	transition-delay: calc(0.045s * 10);
}
.btn:hover i:nth-child(11) {
	transition-delay: calc(0.045s * 11);
}
.btn:hover i:nth-child(12) {
	transition-delay: calc(0.045s * 12);
}
.btn:hover i:nth-child(13) {
	transition-delay: calc(0.045s * 13);
}
.btn:hover i:nth-child(14) {
	transition-delay: calc(0.045s * 14);
}
.btn:hover i:nth-child(15) {
	transition-delay: calc(0.045s * 15);
}
.btn:hover i:nth-child(16) {
	transition-delay: calc(0.045s * 16);
}

@media screen and (max-width: 677px) {
	.container {
		width: 80%;
		margin: auto;
		/* min-height: 100vh; */
	}
	.password {
		font-size: 1rem;
	}
}
@media screen and (max-width: 450px) {
	.container {
		width: 90%;
	}
	.form-group > label > h3 {
		font-size: 0.8rem;
	}
	.pw__value {
		font-size: 1.5rem;
	}
	.password {
		font-size: 0.6rem;
	}
}


/* particles styles */

/* body {
	background: #000;
  } */
  
  #title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -113px;
	margin-top: -48px;
	width: 226px;
	height: 96px;
  }
  
  h1 {
	color: #fff !important;
	text-align: center;
  }
  
  .github {
	bottom: 10px;
	right: 10px;
	position: fixed;
	border-radius: 10px;
	background: #fff;
	padding: 0 12px 6px 12px;
	border: 1px solid #000;
  }
  
  .github a:hover,
  .github a:link,
  .github a:visited,
  .github a:active {
	color: #000;
	text-decoration: none;
  }
  
  .github img {
	height: 30px;
  }
  
  .github #gh-project {
	font-size: 20px;
	padding-left: 5px;
	font-weight: bold;
	vertical-align: bottom;
  }
  